body{
    background: #202020;
    color: whitesmoke;
}

img{
    margin:auto;
}

.navbar{
    background: #404040;
    padding: 5px 0;
}

.navbar ul{
    display: flex;/*Se acomodan los items uno al lado del otro */
    justify-content: space-between;/*Separar los items*/

}

.navbar ul li{
    list-style: none;/*Quita los puntos de la lista*/
}

.navbar ul li a{
    color: white;
    text-decoration: none;/*Quita el subrayado del enlace*/
}

.navbar ul li a:hover{
    color: aquamarine;/*Cambia el color del enlace al pasar el mouse*/
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card{
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 2px;
    color: black;
}

.input{
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}

.label{
    color: blue;
    font-weight: 500;
}