{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar container">
        <ul>
            <li>
                <a href="/index/">Home</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/projects/">Projects</a>
            </li>
            <li>
                <a href="/tasks/">Tasks</a>
            </li>

            <li>
                <a href="/new_task/">Create New Task</a>
            </li>
            <li>
                <a href="/new_project/">Create New Project</a>
            </li>
            <li>
                <a href="/projects/">Project Details</a>
            </li>
        </ul>
    </nav>

    <main class="container">
        {% block content %}

        {% endblock %}
    </main>


</body>

</html>