{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 style="text-align: center;color:blue">{{ title }}</h1>

<center>
<img src="{% static 'images/perro.jpg' %}" width='500px' alt="Dos perros salchicha en la playa">
</center>
<p
    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: large;color: brown;background-color: yellow;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias animi a illum repellat obcaecati enim expedita
    veniam ipsam, nisi exercitationem, dicta consequuntur reprehenderit perferendis, distinctio quasi incidunt tempora
    totam deleniti. Asperiores officiis, excepturi facere voluptatibus alias ea numquam, quam veritatis expedita
    voluptates, ipsam commodi quae deserunt magni? Illum saepe facilis quas nam mollitia, dolore rerum nisi quia neque
    repudiandae nostrum qui debitis quasi, eligendi impedit earum illo necessitatibus! Numquam iusto quasi repellat
    laboriosam facere voluptatem alias neque voluptatibus unde molestiae, quas minus perferendis impedit excepturi
    aliquid nostrum facilis eos dolor blanditiis repellendus tempore deserunt. Deserunt aspernatur accusamus vero odio
    esse!</p>

{% endblock %}